name: Build Windows Executable

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Debug Boost presence
        run: |
          Write-Host "===== Folders containing .hpp files ====="
          Get-ChildItem -Recurse -Filter *.hpp | 
              Select-Object DirectoryName -Unique
          
      - name: Build main.cpp
        run: |
          mkdir build
          cl /DUNICODE /D_UNICODE /EHsc /Ilib/boost main.cpp user32.lib /link /SUBSYSTEM:WINDOWS /OUT:build/main.exe
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: build/main.exe
