name: Build Windows Executable

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build main.cpp
        run: |
          mkdir build
          cl /DUNICODE /D_UNICODE /EHsc /Ilib\boost\libs\multiprecision\include main.cpp user32.lib /link /SUBSYSTEM:WINDOWS /OUT:build/main.exe
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: build/main.exe
